.slider-area2 .hero-cap h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 177, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
  .slider-area2 .hero-cap h2 {
    font-size: 50px;
  }
}

@media (max-width: 575px) {
  /* line 177, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
  .slider-area2 .hero-cap h2 {
    font-size: 35px;
  }
}

/* line 190, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
.slider-area2 .hero-cap .breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
}

/* line 195, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
.slider-area2 .hero-cap .breadcrumb a {
  color: #dcdcdc;
  font-size: 18px;
  text-transform: capitalize;
}

/* line 201, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
.slider-area2 .hero-cap .breadcrumb-item + .breadcrumb-item::before {
  color: #dcdcdc;
}

.slider-about{
  background-image: url(../img/hero/contact_us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-height2 {
  height: 450px;
  background-size: cover;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 18, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
  .slider-height2 {
    height: 350px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 18, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
  .slider-height2 {
    height: 260px;
  }
}

@media (max-width: 575px) {
  /* line 18, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
  .slider-height2 {
    height: 260px;
  }
}

.hero-overly2 {
  position: relative;
  z-index: 1;
}

/* line 150, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
.hero-overly2::before {
  position: absolute;
  content: "";
  background-color: rgba(13, 45, 62, 0.8);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
}

.header-logo {
  width: 100px;
}

.footer-logo {
  width: 150px;
}

span.logo-text {
  padding: 20px;
  color: #fff;
}

.site-section {
  padding: 4.5em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 7em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.jm-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 7em;
}

.experience {
  position: relative;
  padding: 45px 0 15px 0;
}

.experience .timeline {
  position: relative;
  width: 100%;
}

.experience .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #f07d29;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.experience .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
  left: 0;
  padding-right: 30px;
}

.experience .timeline .timeline-item.right {
  left: 50%;
  padding-left: 30px;
}

.experience .timeline .timeline-item::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: -8px;
  background: #ffffff;
  border: 2px solid #f07d29;
  border-radius: 16px;
  z-index: 1;
}

.experience .timeline .timeline-item.right::after {
  left: -8px;
}

.experience .timeline .timeline-item::before {
content: '';
position: absolute;
width: 0;
height: 0;
top: 46px;
right: 10px;
z-index: 1;
border: 10px solid;
border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
left: 10px;
border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
  position: absolute;
  width: 100%;
  top: 44px;
  font-size: 16px;
  font-weight: 600;
  color: #f07d29;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
  text-align: left;
  left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
  text-align: right;
  right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #dddddd;
  box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
  border-right: none;
  border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
}

.experience .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.experience .timeline .timeline-text p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .experience .timeline::after {
      left: 8px;
  }

  .experience .timeline .timeline-item {
      width: 100%;
      padding-left: 38px;
  }
  
  .experience .timeline .timeline-item.left {
      padding-right: 0;
  }
  
  .experience .timeline .timeline-item.right {
      left: 0%;
      padding-left: 38px;
  }

  .experience .timeline .timeline-item.left::after, 
  .experience .timeline .timeline-item.right::after {
      left: 0;
  }
  
  .experience .timeline .timeline-item.left::before,
  .experience .timeline .timeline-item.right::before {
      left: 18px;
      border-color: transparent #dddddd transparent transparent;
  }
  
  .experience .timeline .timeline-item.left .timeline-date,
  .experience .timeline .timeline-item.right .timeline-date {
      position: relative;
      top: 0;
      right: auto;
      left: 0;
      text-align: left;
      margin-bottom: 10px;
  }
  
  .experience .timeline .timeline-item.left .timeline-text,
  .experience .timeline .timeline-item.right .timeline-text {
      border-right: none;
      border-left: 5px solid #dddddd;
  }
}

.section-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact-form-area .contact-form-wrapper form.contact-form #select1{
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 11px 19px 11px 31px;
  line-height: 42px;
  border-radius: 5px;
  border: 1px solid #efebeb;
  background: #fff;
  color: #a6abb0;
  font-size: 17px;
  margin-bottom: 20px;
}

.brands-area .brand-wrap {
  padding: 40px 0;
}

.brands-area .brand-wrap .owl-carousel .owl-item img {
  width: auto !important;
}

.brands-area .brand-wrap .single-brand {
  text-align: center;
  filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: .9;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.brands-area .brand-wrap .single-brand:hover {
  filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  opacity: 1;
}

@media (max-width: 991px) {
  .about-area .about-left {
      margin-bottom: 50px
  }
}

.about-right {
  padding-left: 40px
}

@media (max-width: 1199px) {
  .about-right {
      padding-left: 15px
  }
}

.about-right .section-title {
  margin-bottom: 20px
}

.about-right .primary-btn {
  margin-top: 35px
}

.about-right p:last-child {
  margin-bottom: 0px
}

.about-content {
  margin-top: 135px;
  margin-bottom: 112px;
  color: #fff;
  position: relative
}

@media (max-width: 767px) {
  .about-content {
      margin-top: 140px
  }
}


.section-gap {
  padding: 80px 0
}

@media (max-width: 991px) {
  .section-gap {
      padding: 50px 0
  }
}

.about-title {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .about-title {
      margin-bottom: 40px
  }
}

.about-title h4 {
  color: #f07d29;
  font-weight: 500;
}

@media (max-width: 767px) {
  .about-title h4 {
      margin-bottom: 10px
  }
}

.about-title h2 {
  margin-top: -10px;
  color: #263a4e;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .about-title h2 {
      margin-bottom: 5px;
      margin-top: 0px
  }
}

@media (max-width: 991px) {
  .about-title h2 {
      font-size: 30px
  }
}


